
  #navbar {
    overflow: hidden;
    background-color: #333;
    width: 100%;
    opacity: 0.5;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    margin: 10px;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    color:white;
    opacity: 1 !important;
  }
  ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

ul li {
    display: inline-block;  
    text-decoration: none;
}

.content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sticky + .content {
    padding-top: 60px;
  }
  .offers{
     /*  border-style: solid; */
      margin-left: 30px;
      background-color:bisque;
      width: 600px;
      padding: 2px
     /*  margin-top: 20px; */
  }
  .container{
    width:33%;
    height:500px;
    float:left;
    margin-bottom:50px
    
    /* border-style:solid  */
  }
  body{
      margin: 0%;
  }
  .images1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width:400px;
    height:400px
   }
   .container:hover.images1 {
    opacity: 0.3;
  }
  .footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
    border: 0.5px solid black;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }

  .map{
    margin-top:0px;
  }

  .images2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width:50px;
    height:50px
  }
    
  img:hover {
    box-shadow: 0 0 2px 1px black ;
  }

  .offers2{
    margin-top: 10px;
  }

  .container2{
    width:33%;
    height:150px;
    float:left;
    margin-bottom:50px;
    padding-top:50px
    
    /* border-style:solid  */
  }
  .map{
    display: table-cell;
  }
  .map1{
    display: table-cell;
    margin-left: 50px;
    float: left;
  }
  .map2{
    margin-right: 50px;
    float: right;
  }
  
  .map2-inner{
   padding-left: 200px;
   margin-top: 80px;
  }

  .maps{
    padding:20px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 22%;
    margin:20px;
    height:400px;
    float:left
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .offers3{
    height: 500px;
    padding-bottom: 30px;
  }
  .container5 {
    padding: 2px 16px;
  }
  .images5 {
    height: 250px;
    width: 100px;
  }

  .hist{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px; 
    
    /* border:solid; */
    height: 200px;
  }

  .hist1{
    float: left;
    width:175px;
    height:175px
  }

  .hist2{
   margin-left: 300px;
  }

  .row{
   float: left; 
  }

  .row1{
    width: 50px;
    height: 50px;
    float: left;
    
  }

 